*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.agent
# Android Studio 3.3 studio.xml
.idea/studio.xml

# Kotlin
.kotlin

# Hilt
.hilt

# VSCode
.vscode
